*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titulo{
    margin: 30px;
}

body{
    background-color:rgb(208, 235, 161);
}

#dibujo{
    position: relative;
}

.drag{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.elemento {
    width: 100px;
    height: 50px;
    background-color: #89c0e5;
    color: #000000;
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
}

#zonaDrop {
    width: 120px;
    height: 70px;
    background-color: hsl(209, 62%, 55%);
    color: #fff;
    margin: 10px auto;
    padding: 20px;
    border: 5px solid rgb(0, 65, 95);
}

#temporizador {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: 30px;
}

#resultado{
    position: relative;
    font-size: 20px;
    margin: 20px;
}

#boton_siguiente{
    padding: 10px;
    background-color: #e5c089;
    font-size: 20px;
    margin-top: 20px;
}
